// GLOBAL

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato";
}

a {
    color: #121212;
}

.header {
    padding: 2rem 0;
    @include grid-contain-2(80vw, 10rem, auto);
    font-size: 1.5rem;
    text-transform: uppercase;
    &__logo {
        display: flex;
        align-items: center;
    }
    &__nav {
        display: none;
        @include media(sm) {
            display: block;
            align-items: center;
            justify-self: flex-end;
        }
        &__list {
            margin-left: 3rem;
        }
    }
    .fas {
        display: block;
        justify-self: flex-end;
        @include media(sm) {
            display: none;
        }
    }
}
