// GRID MASTER

@mixin grid-contain-2($argA, $argB, $argC) {
    max-width: $argA;
    margin: 0 auto;
    display: grid;
    grid-template-columns: $argb $numberC;
}

@mixin grid-full-media($argA, $media) {
    display: grid;
    @media screen and (min-width: $media) {
        grid-template-columns: repeat($number, 1fr);
    }
}

@mixin grid-contain-media($argA, $media, $argB) {
    max-width: $argA;
    margin: 0 auto;
    display: grid;
    @media screen and (min-width: $media) {
        grid-template-columns: 
        repeat($argB, 1fr);
    }
}

// MEDIA QUERIES

@mixin media($size) {
    @if $size == xs {
      @media (max-width: 572px) { @content; }
    } @else if $size == sm {
      @media (min-width: 768px) { @content; }
    } @else if $size == md {
      @media (min-width: 992px) { @content; }
    } @else if $size == lg {
      @media (min-width: 1200px) { @content; }
    } @else if $size == xl {
      @media (min-width: 1400px) { @content; }
    }
}