// POSITION INNER FLEX CENTER-CENTER ROW

%flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

// POSITION INNER FLEX CENTER-CENTER COLONNE

%flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// POSITION ABSOLUTE CENTER-CENTER

%position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
